<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>e-mail</th>
      <th>Area</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @company.employees.each do |employee| %>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.area.name %></td>
      <td><%= link_to 'Delete',
                      company_employee_path(@company,employee),
                      method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
