<p id="notice"><%= notice %></p>

<h1>Showing Company</h1>
<div class="well">
  <strong>Name:</strong>
  <%= @company.name %>
</div>

<h2>Create and add new employee</h2>
<%= render 'employees/form' %>

<h2>List of employees</h2>
<%= render 'employees/list' %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
